@import url("./reset.css");
@import url("./fonts.css");

/* 보더박스 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 컨텐츠 */
.sr-only,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* 기본 스타일 */
html {
  font-size: 10px;
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1.4rem;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 스타일 */
.logo {
  padding: 24px 24px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  transform: translate(-50% -50%);
}

.logo-bar {
  position: absolute;
  left: 17px;
}

/* 메뉴 스타일 */

.appNavigation {
  border-bottom: 1px solid #c7c7c7;
}
.menu-list {
  display: flex;
  flex : row nowrap;
  justify-content:space-around;
  padding: 10px 24px;
}

.menu-item {
  font-size: 2rem;
}

/* 메인 */
.appMain {
  background-color: powderblue;
  height: 70vh;
  width: 1360px;
  margin: 0 auto;
}

.catagori-name {
  background-color: gray;
}

.dripper {
  background-color: gold;
  border-bottom: 1px solid #c7c7c7;
}

.dripper-img {
  display: flex;
  flex: row nowrap;
}

.coffee-bean {
  background-color: pink;
  border-bottom: 1px solid #c7c7c7;
}

.recomend-bean {
  background-color: lightgreen;
  border-bottom: 1px solid #c7c7c7;
}

/* 푸터  */
.appFooter {
  background-color: tomato;
  height: 30vh;
}



